@font-face {
    font-family: 'vazir';
    src: url('./fonts/vazir.ttf') format('eot');
    src : url('./fonts/vazir.ttf') format('truetype'),
    url('./fonts/vazir.woff') format('woff'),
    url('./fonts/vazir.woff2') format('woff2');
    src: url('./fonts/Vazir-Regular-FD.eot') format('eot');
    src : url('./fonts/Vazir-Regular-FD.ttf') format('truetype'),
    url('./fonts/Vazir-Regular-FD.woff') format('woff'),
    url('./fonts/Vazir-Regular-FD.woff2') format('woff2');
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'vazir';
}